{% extends 'base.html' %}

{% block extrastyles %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <div class="card p-4">
      <h4 class="mb-1 text-center">Datos del comprador</h4>
      <hr class="w-100 mb-4">
      <form action="/redirect" method="POST">

        <div class="mb-3">
          <label for="email" class="form-label ">Email:</label>
          <input type="Email" class="form-control" id="email" name="email" required />
        </div>
        <div class="mb-3">
          <label for="firstname" class="form-label ">Nombres:</label>
          <input type="text" class="form-control" id="firstname" name="firstname" required />
        </div>
        <div class="mb-3">
          <label for="firstname" class="form-label ">Apellidos:</label>
          <input type="text" class="form-control" id="lastname" name="lastname" required />
        </div>
        <div class="mb-3">
          <label for="order" class="form-label ">N° Orden:</label>
          <input type="text" class="form-control" id="order" value="{{data.order}}" name="order" required />
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label ">Monto:</label>
          <input type="number" class="form-control" id="amount" name="amount" required />
        </div>

        <input  class="btn btn-izi w-50 mx-auto text-white mt-2" type="submit" value="Pagar" />

      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
    <script>
    </script>
{% endblock %}